<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1>Car list</h1>
<table border="1" style="width:300px">
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Year of manufacturing</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getBrand()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getYearOfManufacturing()}"></td>
    </tr>
</table>
<p>Показать список из
    <a href = "/cars?count=1">  1  </a>
    <a href = "/cars?count=2">  2  </a>
    <a href = "/cars?count=3">  3  </a>
    <a href = "/cars?count=4">  4   </a>
    <a href = "/cars?count=5">  5  </a>
     машин
</p>
</body>
</html>